<h1>Todos</h1>
<div ng-controller="TodosCtrl">
<form ng-submit="createTodo()">
  <input type="text" ng-model='newTodo.title' placeholder="Enter todo title">
  <input type="text" ng-model='newTodo.description' placeholder="Enter todo description">
  <input type="submit" value="Add">
</form>
<button ng-click="reloadTodos()">Reload</button>
  <ul>
    <li ng-repeat="todo in todos">
      <input type="checkbox" ng-model="todo.done" ng-change="updateTodo(todo)"/>
      {{todo.title}}, {{todo.description}}
    </li>
  </ul>
</div>
