<h1>Todos</h1>
<form>
  <input type="text" ng-model='newTodo.title' placeholder="Enter todo title">
  <input type="text" ng-model='newTodo.description' placeholder="Enter todo description">
  <input type="submit" value="Add">
</form>
<div ng-controller="TodosCtrl">
  <ul>
    <li ng-repeat="todo in todos">
      {{todo.title}}, {{todo.description}}
    </li>
  </ul>
</div>
